body, html {
    margin:0;
    padding: 0;
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

.app {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    width: inherit;
    height: inherit;
}
#main-image {
    flex: 1;
    width:100%;
    height: 100%;
    position: relative;
}
#main-image img {
    width:100%;
    height:100%;
    object-fit: cover
}
#main-content {
    flex: 1.5;
    width:100%;
    height:100%;
    position: relative;
}
#main-content .content {
    position: absolute;
    top:45%;
    left: 7.5%;
    transform:translateY(-50%);
    width:85%;
}

.headline {
    font-family: 'Playfair Display', serif;
    font-size: 58px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 20px;
}
.text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin:0;
    line-height: 25px;
}

.text a {
    color: #FA4747;
    text-decoration: none;
    transition: all ease-in-out .1s;
}
.text a:hover {
    color: #ad0707;
    transition: all ease-in-out .1s;
}


.contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contact hr{
    opacity: .2;
}
.contact ul {
    padding-left: 7.5%;
    margin: 30px 0;
}
.social-icon {
    list-style: none;
    display: inline-block;
    margin: 0 15px;
    opacity: 0.5;
    transition: .2s ease-in-out all;
    cursor: pointer;
}
.social-icon:first-child {
    margin-left:0;
}
.social-icon:hover {
    opacity: 1;
    transition: .2s ease-in-out all;
}
.social-icon img {
    width: 24px;
    height: auto;
}